@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
  }

  * {
    @apply border-primary-200;
  }

  body {
    @apply bg-primary-50 text-primary-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
